
* {
    box-sizing: border-box;
}

body, html{
    background: linear-gradient(237deg, #1f0404, rgb(10, 10, 47));
    margin: 0;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;

}


.content{
    width: 77%;
    /*border: 2px solid red;*/
    margin: auto;
    background: linear-gradient(100deg, #e1f1fc, #a1a1a1);
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 0.85fr 3fr;
    grid-template-rows: 260px 4fr;
    gap: 0px;
    border-radius: 10px;
}


.headerDiv {
    border-bottom: 2px solid black;
    grid-column: 2;
    /*background: gainsboro;*/
    -webkit-box-shadow: 2px 8px 15px 0px #000000;
    box-shadow: 2px 8px 15px 0px #000000;
    /*background-repeat: no-repeat;*/
    /*background-image: url("banner.jpg");*/
    background: linear-gradient(234deg,gainsboro, #6b6b6b);
}

.userName{
    margin-top: 15px;
    font-size: 26px;
    width: 80%;
    font-weight: bolder;
}

.searchBar{
    width: 90%;
    height: 18%;
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
}

.searchBar input{
    border-radius: 20px;
    background-color: #dcdcdc;
    height: 100%;
    width: 55%;
    margin-left: 30px;
    border: 1px solid #2a2727;
}

.secondRow{
    /*border: 4px solid orange;*/
    margin-top: 45px;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.iconBar{
    display: grid;
    /*border: 2px solid turquoise;*/
    height: 44%;
    width: 33%;
    margin-left: 120px;
    grid-template-columns: 0.4fr 0.4fr 2fr;
    margin-top: -10px;
    gap: -20px;
    /*grid-column-gap: -20px;*/
}

.iconBar img{
    height: 120%;
    width: 60%;
}

.personName{
    margin-top: 7px;
}


.details{
    font-weight: bolder;
    font-size: 25px;
    margin-left: 30px;
}

.personDetails img{
    width: 15%;
    height: 80%;
    margin-left: 68px;
    border: 1px solid #2a2727;
}


.personDetails{
    /*border: 4px solid green;*/
    display: flex;
}

.navButtons button{
    width: 17%;
    height: 50%;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 35px;
    color: whitesmoke;
    background-color: rgba(122, 15, 15, 0.91);
    font-size: 20px;
    font-weight: bolder;
    -webkit-box-shadow: 2px 8px 15px 0px #000000;
    box-shadow: 2px 8px 15px 0px #000000;
}

.firstBtn{
    margin-left: 15%;
}

.sidebarDashImg{
    /*border: 2px solid red;*/
    width: 25%;
    height: 4%;
}

.sidebarDashImg img{
    width: 80%;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
}

.dashTitle{
    /*border: 2px solid turquoise;*/
    width: 70%;
    font-size: 38px;
    padding-top: 26px;
    margin-top: 15px;
    font-weight: bolder;
    font-family: roboto;
    color: whitesmoke;
    padding-left: 13px;
}


.sidebarLogoAndTitle{
    display: flex;
}


.sidebarGrid1{
    /*border: 2px solid red;*/
    margin-top: 50px;
    height: 400px;
    display: grid;
}

.sidebarBtn{
    /*border: 2px solid green;*/
    width: 42%;
    height: 50%;
    margin-left: 50px;
    margin-bottom: 10px;
    display: flex;
}

.sidebarBtn:hover{
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

.sidebarBtn img{
    height: 84%;
    width: 20%;
    margin-top: 5px;
}

.sidebarBtnTitle{
    color: whitesmoke;
    margin-left: 25px;
    font-size: 30px;
}

.sidebarGrid2{
    /*border: 2px solid red;*/
    margin-top: 85px;
    height: 200px;
    display: grid;
}

.sidebar{
    grid-row: 1 / 3;
    background: linear-gradient(64deg,gainsboro, #5d5c5c);
    border: 1px solid black;
    -webkit-box-shadow: 3px 0px 15px 2px #000000;
    box-shadow: 3px 0px 15px 2px #000000;
}

.toDoListContainer{
    border: 2px solid green;
    width: 90%;
    height: 85%;
    margin: auto;
    margin-top: 1.5%;
}

.toDoDiv{
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.toDoListContainer{
    display: flex;
    flex-direction: column;
}

.toDoElement{
    display: flex;
    border: 1px solid blue;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    text-align: center;
    width: 100%;
    height: 5%;
    justify-content: space-between;
}

.toDoElement button{
    height: 100%;
    width: 10%;
}

.toDoTask{
    font-style: italic;
    font-size: 35px;
    color: black;

}

#deleteButton{
    /*justify-items: flex-start;*/
    background: blue;
}

#addButton{
    /*justify-self: flex-end;*/
    margin-left: 8%;
    background: green;
}