
* {
    box-sizing: border-box;
}

body, html{
    background: linear-gradient(237deg, #1f0404, rgb(10, 10, 47));
    margin: 0;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;

}


.content{
    width: 77%;
    /*border: 2px solid red;*/
    margin: auto;
    background-color: rgb(161, 174, 185);
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 0.85fr 3fr;
    grid-template-rows: 260px 4fr;
    gap: 0px;
    border-radius: 10px;
}


.headerDiv{
    /*height: 23%;*/
    /*width: 100%;*/
    border-bottom: 2px solid black;
    grid-column:  2;
    background: gainsboro;
    -webkit-box-shadow: 2px 8px 15px 0px #000000;
    box-shadow: 2px 8px 15px 0px #000000;
}

.userName{
    margin-top: 15px;
    font-size: 26px;
    width: 80%;
    font-weight: bolder;
}

.searchBar{
    width: 90%;
    height: 18%;
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
}

.searchBar input{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: #dcdcdc;
    height: 100%;
    width: 55%;
    margin-left: 30px;
}

.secondRow{
    /*border: 4px solid orange;*/
    margin-top: 45px;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.iconBar{
    display: grid;
    /*border: 2px solid turquoise;*/
    height: 44%;
    width: 33%;
    margin-left: 120px;
    grid-template-columns: 0.4fr 0.4fr 2fr;
    margin-top: -10px;
    gap: -20px;
    /*grid-column-gap: -20px;*/
}

.iconBar img{
    height: 120%;
    width: 60%;
}

.personName{
    margin-top: 7px;
}


.details{
    font-weight: bolder;
    font-size: 25px;
    margin-left: 30px;
}

.personDetails img{
    width: 15%;
    height: 80%;
    margin-left: 68px;
}


.personDetails{
    /*border: 4px solid green;*/
    display: flex;
}

button{
    width: 17%;
    height: 50%;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 35px;
    color: whitesmoke;
    background-color: rgba(122, 15, 15, 0.91);
    font-size: 20px;
    font-weight: bolder;
    -webkit-box-shadow: 2px 8px 15px 0px #000000;
    box-shadow: 2px 8px 15px 0px #000000;
}

.firstBtn{
    margin-left: 15%;
}
