body, html{
    background: linear-gradient(237deg, #1f0404, rgb(10, 10, 47));
    margin: 0;
    height: 100%;
}




.content{
    width: 77%;
    /*border: 2px solid red;*/
    box-sizing: border-box;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.45);
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 0.85fr 3fr;
    grid-template-rows: 260px 4fr;
    gap: 0px;
}


.headerDiv{
    /*height: 23%;*/
    /*width: 100%;*/
    border-bottom: 2px solid black;
    grid-column: 2 / 2;

}