body, html{
    background: linear-gradient(237deg, #1f0404, rgb(10, 10, 47));
    margin: 0;
    height: 100%;
}




.content{
    width: 77%;
    /*border: 2px solid red;*/
    box-sizing: border-box;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.45);
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.7);
}